.btn-form {
    background-color: #ff8246;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.btn-form:hover {
    cursor: pointer;
    background-color: #373a6d;
}

.form-input {
    font-family: "Catamaran", sans-serif;
    outline: none;
}
