.city-info-card {
    min-width: 200px;
    background-color: #ffffff4f;
    color: #fff;
}

.city {
    color: #373a6d5d;
}

.weather-icon {
    /* position: relative; */
    /* top: 0; */
    /* float: right; */
    width: 50px;
    height: 50px;
}

.btn-off {
    color: #ffffff65;
}

.btn-off:hover {
    color: #373a6d;
}

.btn-info {
    background-color: #ff8246;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.btn-info:hover {
    background-color: #373a6d;
    cursor: pointer;
}
